.tool-box {
  height: 100dvh;
  background-position: 0%;
  background-size: cover;
padding: 10px;
  animation: rool 50s infinite ease-in-out;
}

.tool-content {
  padding: 10px;
  height: 100vh;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tools {
    gap: 10px;
    margin-top: 40px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
}
.tool-square{
    border: 1px solid rgba(44, 43, 43, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    flex-direction: column;
    cursor: pointer;
}
.tool-square svg{
    opacity: .5;
    transition: .3s;
}
.border{
    height: 4px;
    background-color: #fff;
    width: 0%;
    position: relative;
    top: 34px;
    transition: .3s;
}
.tool-square:hover .border{
    animation: grow 1.5s  ease;
}
.tool-square:hover svg{
    opacity: 1;
}

.layer-blur{
    width: 100%;
    position: absolute;
    top: 1760px;
    height: 100vh;
    background-color: #0000001e;
    filter: blur(2);
display: flex;
justify-content: center;
align-items: center;
    }
.description-tool{
    background: rgb(29,28,28);
background: linear-gradient(188deg, rgba(29,28,28,1) 0%, rgba(15,15,15,1) 98%);
    border-radius: 11px;
    height: 500px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
}
.close-btn{
    position: relative;
    font-weight: bold;
    left: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    padding: 20px;
    height: 50px;
    cursor: pointer;
    transition: .2s;
    background-color: #d1cfcf;
}
.close-btn:hover{
    background-color: rgb(201, 45, 45);
    color: #fff;
}
.description-tool-content {
    position: relative;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.description-tool h1{
    text-align: center;
    text-transform: uppercase;
}
.description-tool-content h3{
    margin-top: 10px;
}
.description-tool-content span{
    text-align: center;
}

/* Animação */

@keyframes grow {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes rool {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@media (max-width:390px) {
    .layer-blur{
        width: 100%;
        position: absolute;
        top: 1585px;
        height: 100vh;
        background-color: #0000001e;
        filter: blur(2);
    display: flex;
    justify-content: center;
    align-items: center;
        }
    .description-tool{
        background: rgb(29,28,28);
    background: linear-gradient(188deg, rgba(29,28,28,1) 0%, rgba(15,15,15,1) 98%);
        border-radius: 11px;
        height: 500px;
        width: 90%;
        margin: 0 auto;
        position: absolute;
    }
}